/* Reset */
ul, ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


body {
}

/* ul gallery */
.gallery {
    padding: 24px 156px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.gallery-item {
    width: calc((100% - 2 * 24px) / 3);
    aspect-ratio: calc(360/200);
    transition: transform 300ms;
}

.gallery-item:hover {
    transform: scale(calc(376/360));
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Modal */
.modal {
    background: #2E2F42CC;
}


/* bxs:hand-down {
svg
} */

.icons {
    fill: #4E75FF;
}